[
  [
      type   : 'img'
      start  : 66
      end    : 88
      string : '<img src="../foo.jpg">'
      url    : '../foo.jpg'
  ]
  [
      type   : 'img'
      start  : 104
      end    : 125
      string : '<img src="bar.png" />'
      url    : 'bar.png'
  ]
  [
      type   : 'script'
      url    : 'scripts/x.js'
      start  : 129
      end    : 165
      string : '<script src="scripts/x.js"></script>'
    ,
      type   : 'script'
      url    : 'scripts/y.js'
      start  : 168
      end    : 204
      string : '<script src="scripts/y.js"></script>'
  ]
  [
      type   : 'stylesheet'
      url    : '/styles/thing.css'
      start  : 208
      end    : 254
      string : '<link rel=stylesheet href="/styles/thing.css">'
  ]
  [
      type   : 'stylesheet'
      url    : '/styles/one.css'
      start  : 265
      end    : 309
      string : '<link rel=stylesheet href="/styles/one.css">'
    ,
      type   : 'stylesheet'
      url    : '/styles/two.css'
      start  : 312
      end    : 364
      string : '<link rel=stylesheet href="/styles/two.css">\n</body>'
  ]
]
