[
  [
      type   : 'img'
      start  : 68
      end    : 90
      string : '<img src="../foo.jpg">'
      url    : '../foo.jpg'
  ]
  [
      type   : 'img'
      start  : 106
      end    : 127
      string : '<img src="bar.png" />'
      url    : 'bar.png'
  ]
  [
      type   : 'script'
      url    : 'scripts/x.js'
      start  : 131
      end    : 167
      string : '<script src="scripts/x.js"></script>'
    ,
      type   : 'script'
      url    : 'scripts/y.js'
      start  : 170
      end    : 206
      string : '<script src="scripts/y.js"></script>'
  ]
  [
      type   : 'stylesheet'
      url    : '/styles/thing.css'
      start  : 210
      end    : 256
      string : '<link rel=stylesheet href="/styles/thing.css">'
  ]
  [
      type   : 'stylesheet'
      url    : '/styles/one.css'
      start  : 267
      end    : 311
      string : '<link rel=stylesheet href="/styles/one.css">'
    ,
      type   : 'stylesheet'
      url    : '/styles/two.css'
      start  : 314
      end    : 366
      string : '<link rel=stylesheet href="/styles/two.css">\n</body>'
  ]
]
